.login-page {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #f1f1f1;
  color: #3f3f3f;
  padding-top: 20px;
  padding-bottom: 30px;

  .form-area {
    margin: auto;
    background-color: #ffffff;
    width: 600px;
    max-width: 95%;
  }
}
