html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100vh !important;
  font-family: sans-serif !important;
  overflow: hidden !important;
  font-size: 14px !important;
  position: relative;
}

body ::-webkit-scrollbar {
  //-webkit-appearance: none;
  width: 5px;
  height: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-danger {
  color: #dc3434;
}

.clickable {
  cursor: pointer;
}
